
body {
    font-family: 'Calibre', serif;
    height: 100vh;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background: linear-gradient(60deg, hsl(255, 89%, 30%), hsl(282, 69%, 17%) );;
    color: white;
}

header h1 {
    padding: 20px;
    text-align: center;
}

main {
    background-color: hsl(255, 100%, 4%);
    height: 90%;
    widows: 100%;
    position: relative;
}

#grid-container {
    display: grid;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(45deg, hsl(255, 89%, 50%), hsl(282, 69%, 27%) );
    padding: 20px;  
    border-radius: 4px;
}

.easy {
    grid-template-columns: auto auto auto;
}

.medium{
    grid-template-columns: auto auto auto auto;
}

.hard{
    grid-template-columns: auto auto auto auto auto;
}

.grid-item {
    height: 50px;
    background: white;
    width: 50px;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s background;
}

.grid-item:hover{
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.4);
    transform: scale(1.1);
}

.blank-item {
    background-color: rgb(14, 10, 3);
    border-radius: 4px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin: 5px;
    transition: 0.5s background;
}

#leftPanel {
    position: absolute;
    left: 5%;
    top: 10%;
    min-width: 200px;
    min-height: 200px;
    color: white;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
}

button {
    background: linear-gradient(45deg, hsl(255, 89%, 50%), hsl(282, 69%, 27%) );;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    width: 100px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#rightPanel {
    position: absolute;
    top: 10%;
    right: 5%;   
    color: white;
    text-align: center;
}

.instruction {
    background: linear-gradient(45deg, hsl(255, 89%, 50%), hsl(282, 69%, 27%) );
    text-align: left;
    overflow: auto;
    color: white;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
    font-size: 14px;
    width: 220px;
    font-family: monospace;
}

#btnPanel {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.move {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin: 5px;
}

#success {
    display: none;
}

button:disabled {
    background: #ccc;
}